@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Shippori+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* スクロールバーを非表示にするクラス */
@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

/* SideMenuのサイドバーデザイン */
aside::-webkit-scrollbar {
  width: 14px;
  background-color: #090909;
}
aside::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 10px 10px #166f8f;
  border: solid 4px transparent
}

aside {
  -webkit-overflow-scrolling: touch;
}

/* ステータスをフィルタリングするサイドバーの 〇 の色を変えるための設定 */
.slider::-webkit-slider-thumb { /* Chrome, Edge, Safari用 */
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #166f8f; /* 丸の色 */
  cursor: pointer;
  transition: background 0.3s;
}
.slider::-moz-range-thumb { /* Firefox用 */
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #166f8f; /* 丸の色 */
  cursor: pointer;
  transition: background 0.3s;
}


.main-container-2::-webkit-scrollbar {
  width: 18px;
  background-color: #090909;
}

.main-container-2::-webkit-scrollbar-thumb {
  border-radius: 14px;
  box-shadow: inset 0 0 10px 10px #166f8f;
  border: solid 4px transparent
}

.main-container-2 {
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes flipCard {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.side-menu-container {
  background-color: #090909;
  color: white;
}

.side-menu-title {
  font-family: "Orbitron", serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.header-container {
  background-color: #090909;
  border-bottom: 2px solid #166f8f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: white;
}

.header-title {
  font-family: "Orbitron", serif;
  font-size: 1.3rem;
  font-weight: bold;
}

.button-container {
  position: fixed;
  top: 92%;
  right: 2%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  gap: 20px;
}

.button-container-2 {
  position: fixed;
  top: 13%;
  right: 6%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-flid-button {
  border-radius: 0.75rem;
  height: 6rem;
  width: 6rem;
  background-color: #206d5b;
  box-shadow: 0 8px 0 #13483c;
  border-top: 2px solid #13483c;
  border-left: 2px solid #13483c;
  border-right: 2px solid #13483c;
}

.card-flid-button:hover {
  box-shadow: none;
  background-color: #13483c;
  transform: translateY(5px);
}

.card-flid-button-2 {
  border-radius: 0.75rem;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #206d5b;
  box-shadow: 0 8px 0 #13483c;
  border-top: 2px solid #13483c;
  border-left: 2px solid #13483c;
  border-right: 2px solid #13483c;
}

.card-flid-button-2:hover {
  box-shadow: none;
  background-color: #13483c;
  transform: translateY(5px);
}

.flip-card {
  animation: flipCard 0.3s ease-out;
}

.character-image-frame {
  border: 6px ridge #666666;
}

.card-container {
  --background-color: #090909;
  --line-color: #222222;

  border: 2px solid #166f8f;
  box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 0.73);
  background:
    linear-gradient(135deg, var(--background-color) 10px, var(--line-color) 11px, var(--line-color) 12px, transparent 12px, transparent 34px, var(--line-color) 34px, var(--line-color) 35px, transparent 35px),
    linear-gradient(225deg, var(--background-color) 10px, var(--line-color) 11px, var(--line-color) 12px, transparent 12px, transparent 34px, var(--line-color) 34px, var(--line-color) 35px, transparent 35px) 0 32px;
  background-size: 32px 64px;
  background-color: var(--background-color);
}

.character-name-container {
  background-color: #090909;
  border-left: double 12px #166f8f;
  border-right: double 12px #166f8f;
  border-top: solid 2px #222222;
  border-bottom: solid 2px #222222;
}

.total-status-container {
  background-color: #090909;
  border: solid 2px #222222;
}

.trigger-container {
  background-color: #090909;
  border: solid 2px #166f8f;
}

.trigger-container-with-no-data {
  background-color: #090909;
  border: solid 2px #444444;
}

.each-trigger-container {
  background-color: #090909;
  border: solid 1px #166f8f;
}

.each-trigger-container-with-no-data {
  background-color: #090909;
  border: solid 1px #444444;
}

.trigger-type {
  font-size: 0.5rem;
  line-height: 0.7rem;
  border-bottom: solid 1px #166f8f;
}

.detail-container {
  background-color: #090909;
  border: solid 2px #166f8f;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
  padding: 0.4rem 0.75rem 0.5rem 0.75rem;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
}

.detail-column {
  border-bottom: solid 1px #166f8f;
  display: inline-block;
}

.character-comment-container {
  background-color: #090909;
  position: relative;
}

.character-comment {
  font-family: "Shippori Mincho", serif;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: 400;
}

/* スマホではキャラクター画像長押しでセリフを表示させたいので、画像長押しによる保存タブの表示をオフ */
/* 他の画像にも適用したいので汎用的なクラスにする */
.image-protect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;  /* Chrome, Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Internet Explorer/Edge */
  user-select: none;          /* Modern browsers */
  pointer-events: none;
}

.filter-item {
  font-family: "Orbitron", serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #166f8f;
  border-bottom: solid 3px #166f8f;
  margin-bottom: 0.75rem;
}

.filter-item-with-reset-button {
  font-family: "Orbitron", serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #166f8f;
}

.filter-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 3px #166f8f;
  margin-bottom: 0.75rem;
}

.loading-text {
  font-size: 2.5rem;
  font-weight: bold;
  color: #166f8f;
}

.info-container {
  --background-color: #090909;
  --line-color: #222222;

  border: 2px solid #166f8f;
  box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 0.73);
  background:
    linear-gradient(135deg, var(--background-color) 10px, var(--line-color) 11px, var(--line-color) 12px, transparent 12px, transparent 34px, var(--line-color) 34px, var(--line-color) 35px, transparent 35px),
    linear-gradient(225deg, var(--background-color) 10px, var(--line-color) 11px, var(--line-color) 12px, transparent 12px, transparent 34px, var(--line-color) 34px, var(--line-color) 35px, transparent 35px) 0 32px;
  background-size: 32px 64px;
  background-color: var(--background-color);
}
